{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid mt-5">
    <h2 class="mb-4">Detalles del Pedido</h2>
    <p>Fecha de creación: {{ order.formatted_created_date }}, {{ order.formatted_created_time }}</p>
    <p>Estado del pedido: {{ order.get_status_display }}</p>
    
    <div class="tables-container mb-4">
        <div class="table-container" style="max-width: 800px;">
            <h2 class="table-title">Productos del Pedido</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>
                            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="img-thumbnail me-2"
                                style="width: 50px; height: 50px;">
                            <a href="{% url 'product_detail' product_id=item.product.id %}">{{ item.product.name }}</a>
                        </td>
                        <td>{{ item.quantity }}</td>
                        <td>S/. {{ item.product.price }}</td>
                        <td>S/. {{ item.total_amount }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="3" class="text-end fw-bold">Total</td>
                        <td class="fw-bold">S/. {{ order.total_amount }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% if order.status == 'in_preparation' %}
        {% if order.is_credit %}
        <div class="table-container" style="max-width: 800px;">
            <h2 class="table-title">Cronograma de Pagos</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nro</th>
                        <th>Importe</th>
                        <th>Fecha de Vencimiento</th>
                        <th>Estado del Pago</th>
                    </tr>
                </thead>
                <tbody>
                    {% for payment in order.payment_schedules.all %}
                    <tr>
                        <td>{{ payment.installment_number }}</td>
                        <td>S/. {{ payment.amount }}</td>
                        <td>{{ payment.formatted_due_date }}</td>
                        <td>{{ payment.get_payment_status_display }}</td> 
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="text-center">No hay cronograma de pagos</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% endif %}
    </div>
    
    <a href="{% url 'orders' %}" class="btn btn-danger mb-4">Regresar a Pedidos</a>
</div>
{% endblock %}
