{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="register-container">
    <div class="register-form">
        <h2>REGISTRATE</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_first_name">Nombres</label>
                {{ form.first_name }}
            </div>
            <div class="form-group">
                <label for="id_last_name">Apellidos</label>
                {{ form.last_name }}
            </div>
            <div class="form-group">
                <label for="id_dni">DNI</label>
                {{ form.dni }}
            </div>
            <div class="form-group">
                <label for="id_phone_number">Número de Teléfono</label>
                {{ form.phone_number }}
            </div>
            <div class="form-group">
                <label for="id_address">Dirección</label>
                {{ form.address }}
            </div>
            <button type="submit">Registrar</button>
        </form>
    </div>
    <div class="register-image">
        <img src="{% static 'images/tree1.png' %}" alt="Tree">
    </div>
</div>
{% endblock %}
