{% extends 'layouts/base.html' %}

{% block content %}
    <h1 class="main-title">PEDIDOS</h1>
    <form action="{% url 'nuevo_pedido' %}" method="GET">
        <button class="new-order-button" type="submit">Nuevo Pedido</button>
    </form>
    <div class="tables-container">
        <div class="table-container">
            <h2 class="table-title">PEDIDOS</h2>
            <table>
                <thead>
                    <tr>
                        <th>Número de Pedido</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pedido in pedidos %}
                        <tr>
                            <td>{{ pedido.numero_pedido }}</td>
                            <td>{{ pedido.fecha }}</td>
                            <td>
                                {% if pedido.estado_pedido == 'C' %}
                                    Cerrado
                                {% elif pedido.estado_pedido == 'V' %}
                                    Vigente
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="table-container">
            <h2 class="table-title">DEUDAS</h2>
            <table>
                <thead>
                    <tr>
                        <th>Número de Deuda</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for deuda in deudas %}
                        <tr>
                            <td>{{ deuda.numero_pedido }}</td>
                            <td>{{ deuda.fecha }}</td>
                            <td>
                                {% if deuda.estado_pedido == 'C' %}
                                    Cerrado
                                {% elif deuda.estado_pedido == 'V' %}
                                    Vigente
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
