{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid mt-5">
    <h2 class="mb-4">Checkout</h2>
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>Productos</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Importe</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order_items %}
                    <tr>
                        <td class="d-flex align-items-center">
                            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="img-thumbnail me-2"
                                style="width: 50px; height: 50px;">
                            <span>{{ item.product.name }}</span>
                        </td>
                        <td>
                            {{ item.quantity }}
                        </td>
                        <td>S/. {{ item.product.price }}</td>
                        <td>S/. {{ item.total_amount }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="3" class="text-end fw-bold">Total</td>
                        <td class="fw-bold">S/. {{ order_items|total_price }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <div class="card card-custom">
                <div class="card-body">
                    <h4 class="card-title text-center mb-4">Pago con Tarjeta</h4>
                    <form method="post" action="{% url 'process_card_payment' %}">
                        {% csrf_token %}
                        <div class="mb-3 text-center">
                            <label for="cardNumber" class="form-label">Número de la Tarjeta</label>
                            <input type="text" class="form-control" id="cardNumber" name="cardNumber" placeholder="0000-0000-0000-0000" required>
                        </div>
                        <div class="mb-3 text-center">
                            <label for="cardExpiry" class="form-label">Fecha de Expiración</label>
                            <input type="text" class="form-control" id="cardExpiry" name="cardExpiry" placeholder="MM/YY" required>
                        </div>
                        <div class="mb-3 text-center">
                            <label for="cardCVC" class="form-label">CVC</label>
                            <input type="text" class="form-control" id="cardCVC" name="cardCVC" placeholder="000" required>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success w-100">Continuar</button>
                            <a href="{% url 'cancel_order' %}" class="btn btn-danger mt-3" style="width: 100%;">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}