{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Iniciar Sesión</h5>
            {% if form.errors %}
              <p>Tus credenciales de inicio de sesión no coinciden. Por favor, inténtalo de nuevo.</p>
            {% endif %}
            <form method="post" action="{% url 'login' %}">
              {% csrf_token %}
              <div class="form-group">
                <label for="username">Correo electrónico</label>
                <input type="text" class="form-control form-control-sm" id="username" name="username" required>
              </div>
              <div class="form-group">
                <div class="d-flex align-items-center justify-content-between">
                    <label for="contraseña">Contraseña</label>
                    <a href="#" class="btn btn-link p-0">¿Olvidó su contraseña?</a>            
                </div>
                <input type="password" class="form-control form-control-sm" id="password" name="password" required>
              </div>
              <button type="submit" class="btn btn-primary">Iniciar sesión</button><br>
              <br><p>¿No tienes una cuenta? <a href="#">Regístrate</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}

