{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid mt-5">
    <h1 class="main-title">PEDIDOS</h1>
    <div class="tables-container">
        <div class="table-container">
            <h2 class="table-title">PEDIDOS AL CONTADO</h2>
            <table>
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Estado</th>
                        <th>Detalles</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders_contado %}
                        <tr>
                            <td>{{ order.formatted_created_date }}</td>
                            <td>{{ order.formatted_created_time }}</td>
                            <td>{{ order.get_status_display }}</td>
                            <td><a href="{% url 'order_detail' order.id %}">Ver Detalles</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="table-container">
            <h2 class="table-title">PEDIDOS A CRÉDITO</h2>
            <table>
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Estado</th>
                        <th>Detalles</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders_credito %}
                        <tr>
                            <td>{{ order.formatted_created_date }}</td>
                            <td>{{ order.formatted_created_time }}</td>
                            <td>{{ order.get_status_display }}</td>
                            <td><a href="{% url 'order_detail' order.id %}">Ver Detalles</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
