{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>Cronograma de Pagos</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Número de Cuota</th>
                <th>Importe</th>
                <th>Fecha de Vencimiento</th>
            </tr>
        </thead>
        <tbody>
            {% for payment in payment_schedule %}
            <tr>
                <td>{{ payment.installment_number }}</td>
                <td>S/. {{ payment.amount }}</td>
                <td>{{ payment.formatted_due_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Action Buttons -->
    <div class="mt-4">
        <form method="post" action="{% url 'create_order' %}">
            {% csrf_token %}
            <div class="text-center">
                <button type="submit" class="btn btn-success w-100">Crear Pedido</button>
                <a href="{% url 'cancel_order' %}" class="btn btn-danger mt-3" style="width: 100%;">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
