{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<section class="productos">
    <div class="col-md-3 categorias">
        <h4>Categorías</h4>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {% if active_category is None %}active{% endif %}" href="{% url 'product_list' %}">Todos</a>
            </li>
            {% for category in categories %}
            <li class="nav-item">
                <a class="nav-link {% if active_category == category.id %}active{% endif %}" href="{% url 'product_list_by_category' category.id %}">{{ category.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="productos__lista">
        <h2>PRODUCTOS</h2>
        <form action="{% url 'product_list' %}" method="POST">
            {% csrf_token %}
            <input type="text" id="search-input" name="q" placeholder="Buscar" value="{{ request.POST.q|default:'' }}">
            <button type="submit"><img src="{% static 'images/search.png' %}" width="20px"></button>
        </form>
        {% if no_results %}
            <p>No se encontraron resultados.</p>
        {% else %}
            <div class="productos__grid">
                {% for product in products %}
                <div class="producto">
                    <a href="{% url 'product_detail' product.id %}">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    <h2><a href="{% url 'product_detail' product.id %}">{{ product.name }} - {{ product.quantity|format_quantity }}{{ product.unit_of_measure }}</a></h2>
                    <p>{{ product.description }}</p>
                    <h3>S/. {{ product.price }}</h3>
                </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}
