{% extends "admin_panel/base-ad.html" %}

{% block title %}Editar Proveedor{% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="container-fluid">
        <h1>Editar Proveedor</h1>
        <div class="col-md-9">
            <h2>Detalles del Proveedor</h2>
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.name.label_tag }}
                            {{ form.name }}
                        </div>
                        <div class="form-group">
                            {{ form.contact_info.label_tag }}
                            {{ form.contact_info }}
                        </div>
                        <div class="form-group">
                            {{ form.record_status.label_tag }}
                            {{ form.record_status }}
                        </div>
                        <button type="submit" class="btn btn-success">Guardar Cambios</button>
                        <a href="{% url 'admin_panel:supplier_list' %}" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
