{% extends "admin_panel/base-ad.html" %}

{% block title %}Productos{% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="container-fluid">
        <h1>PRODUCTOS</h1>
        <h2>Proveedores</h2>
        <div class="d-flex my-3">
            <div class="w-100" style="max-width: 70%; margin: 0">
                <div class="btn-group w-100" role="group" aria-label="Basic example">
                    <a href="{% url 'admin_panel:product_list' %}" class="btn btn-outline-secondary">Todos</a>
                    {% for proveedor in suppliers %}
                        <a href="{% url 'admin_panel:product_list' %}?supplier={{ proveedor.id }}" class="btn btn-outline-secondary">{{ proveedor.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <h2>Categorías</h2>
        <div class="d-flex my-3">
            <div class="w-100" style="max-width: 70%; margin: 0">
                <div class="btn-group w-100" role="group" aria-label="Basic example">
                    <a href="{% url 'admin_panel:product_list' %}" class="btn btn-outline-secondary">Todos</a>
                    {% for category in categories %}
                        <a href="{% url 'admin_panel:product_list' %}?category={{ category.id }}" class="btn btn-outline-secondary">{{ category.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <div class="tables-container mb-4">
            <div class="table-container" style="max-width: 80%;">
                <h2 class="table-title">Productos</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Productos</th>
                            <th>Proveedor</th>
                            <th>Categoría</th>
                            <th>Stock</th>
                            <th>Precio Unitario</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr>
                                <td>
                                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-thumbnail me-2"
                                        style="width: 50px; height: 50px;">
                                    <a href="{% url 'product_detail' product_id=product.id %}">{{ product.name }}</a>
                                </td>
                                <td>{{ product.supplier.name }}</td>
                                <td>{{ product.category.name }}</td>
                                <td>{{ product.quantity }}</td>
                                <td>S/. {{ product.price }}</td>
                                <td>
                                    <div class="action-buttons">
                                        <button class="btn btn-success">Editar</button>
                                        <button class="btn btn-danger">Eliminar</button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
