{% extends 'admin_panel/base-ad.html' %}
{% load static %}

{% block content %}
<div class="col-md-12">
    <div class="container-fluid mt-2">
        <h1>Listado de Perfiles</h1>
        <h2>Filtrar por Estado de Crédito</h2>
        <div class="d-flex my-3">
            <div class="w-100" style="max-width: 70%; margin: 0">
                <div class="btn-group w-100" role="group" aria-label="Basic example">
                    <a href="{% url 'admin_panel:profile_list' %}" class="btn btn-outline-secondary">Todos</a>
                    <a href="{% url 'admin_panel:profile_list' %}?status=pending" class="btn btn-outline-secondary">Pendiente</a>
                    <a href="{% url 'admin_panel:profile_list' %}?status=not_accepted" class="btn btn-outline-secondary">No Aceptado</a>
                    <a href="{% url 'admin_panel:profile_list' %}?status=accepted" class="btn btn-outline-secondary">Aceptado</a>
                </div>
            </div>
        </div>
        <div class="tables-container mb-4">
            <div class="table-container">
                <h2 class="table-title">Perfiles</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Usuario</th>
                            <th>DNI</th>
                            <th>Teléfono</th>
                            <th>Dirección</th>
                            <th>Crédito Aprobado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for profile in profiles %}
                        <tr>
                            <td>{{ profile.id }}</td>
                            <td>{{ profile.user.username }}</td>
                            <td>{{ profile.dni }}</td>
                            <td>{{ profile.phone_number }}</td>
                            <td>{{ profile.address }}</td>
                            <td>
                                {% if profile.credit_approved %}
                                    Aceptado
                                {% else %}
                                    {% if profile.credit_guarantor %}
                                        Pendiente
                                    {% else %}
                                        No Aceptado
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'admin_panel:profile_detail' profile.id %}" class="btn btn-primary btn-sm">Ver Detalle</a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="7">No hay perfiles disponibles.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
