{% extends 'admin_base/base.html' %}
{% load static %}

{% block content %}
  <div class="container-fluid">
    <div class="row profile-info">
      <div class="col-md-9 profile-data">
        <h2 class="text-left">PERFIL</h2>
        <form method="post" enctype="multipart/form-data" class="profile-form">
          {% csrf_token %}
          <h4 id="datos-personales">Datos Personales</h4>
          <div class="form-group">
            <label for="id_email">Correo electrónico</label>
            {{ user_form.email }}
          </div>
          <div class="form-group" id="nombres">
            <label for="id_first_name">Nombres</label>
            {{ user_form.first_name }}
          </div>
          <div class="form-group" id="apellidos">
            <label for="id_last_name">Apellidos</label>
            {{ user_form.last_name }}
          </div>
          <div class="form-group" id="dni">
            <label for="id_dni">DNI</label>
            {{ profile_form.dni }}
          </div>
          <div class="form-group" id="direccion">
            <label for="id_address">Dirección</label>
            {{ profile_form.address }}
          </div>
          <div class="form-group" id="numero-celular">
            <label for="id_phone_number">Número de Celular</label>
            {{ profile_form.phone_number }}
          </div>
          <hr>
          <h4 id="datos-aval">Datos Aval</h4>
          <div id="aval" class="form-group">
            <label for="id_credit_guarantor">Subir Aval</label>
            {{ profile_form.credit_guarantor }}
          </div>
          
          {% if profile_form.credit_approved.value %}
            <p>Su aval ha sido aprobado.</p>
          {% else %}
            <p><b>Su aval no ha sido aprobado o no ha subido un archivo de aval hasta el momento.</b></p>
          {% endif %}

           <button type="submit" class="btn btn-success ml-auto">Guardar</button>
        </form>
      </div>
    </div>
  </div>
  <script src="{% static 'js/profile.js' %}"></script>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/profile.js' %}"></script>
{% endblock %}
