{% extends 'admin_panel/base-ad.html' %}
{% load static %}

{% block content %}
<div class="col-md-12">
    <div class="container-fluid">
        <h1>PROVEEDORES</h1>
        <h2>Categorías</h2>
        <div class="d-flex my-3">
            <div class="w-100" style="max-width: 70%; margin: 0">
                <div class="btn-group w-100" role="group" aria-label="Basic example">
                    <a href="{% url 'admin_panel:supplier_list' %}" class="btn btn-outline-secondary">Todos</a>
                    {% for category in categories %}
                        <a href="{% url 'admin_panel:supplier_list' %}?category={{ category.id }}" class="btn btn-outline-secondary">{{ category.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="tables-container mb-4">
            <div class="table-container">
                <h2 class="table-title">Proveedores</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Proveedor</th>
                            <th>Contacto</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for supplier in suppliers %}
                        <tr>
                            <td>{{supplier.name}}</td>
                            <td>{{supplier.contact_info}}</td>
                            <td>
                                <div class="action-buttons">
                                    <button class="btn btn-success btn-sm">Editar</button>
                                    <button class="btn btn-danger btn-sm">Eliminar</button>
                                </div>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="3">No hay proveedores disponibles.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}