body {
  font-family: Arial, sans-serif;
  background-color: #fff; 
}

.container {
  max-width: 900px; 
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.card {
  margin: 20px auto;
  padding: 30px; 
  background-color: #fff;
  border: 0px solid #ddd;
  border-radius: 8px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 8px; 
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="text"]:focus, input[type="password"]:focus {
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background-color: #62B33C;
  color: #fff;
  padding: 12px 24px; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #4d8b29;
}

p {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #337ab7;
}

a:hover {
  color: #23527c;
}

.d-flex {
  display: flex;
  align-items: center; 
}