{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agrocampo Campo Limpio</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/logo.ico' %}" >
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="menu-container">
        <div class="logo-container">
            <img src="{% static 'images/logo.png' %}" alt="Logo Empresa" class="logoEmpresa">
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'product_list' %}">Productos</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'orders' %}">Pedidos</a></li>
                <li><a href="{% url 'cart_view' %}"><img src="{% static 'images/cart.png' %}" width="25px" alt="Cart"></a></li>
                <li class="dropdown">
                    <a href="#"><img src="{% static 'images/profile.png' %}" width="23px" alt="Profile"></a>
                    <div class="dropdown-content">
                        <span>Bienvenido, {{ user.first_name }}</span>
                        <a href="{% url 'profile' %}">Configuración</a>
                        <form id="logout-form" action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button id="logout-button" class="logout-button" type="submit">Cerrar sesión</button>
                        </form>
                    </div>
                </li>
                {% else %}
                    <li><a href="{% url 'register' %}">Registrarse</a></li>
                    <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>    
    <main class="content-container">
        {% block content %}
        {% endblock %}
    </main>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/profileMenu.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
