{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Admin Panel{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 sidebar">
                <div class="logo text-center my-3">
                    <a href="/"><img src="{% static 'images/logo.png' %}" style="max-width: 50%;" alt="Logo" class="img-fluid"></a>
                </div>
                <h4 class="text-center">Bienvenido, <br>{{ user.first_name }} {{ user.last_name }}</h4>
                <ul class="nav flex-column my-4">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin_panel:product_list' %}">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pedidos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin_panel:supplier_list' %}">Proveedores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin_panel:profile_list' %}">Perfiles</a>
                    </li>
                </ul>
                <div class="center-links">
                    <a class="nav-link" href="#">Configuración de Perfil</a>
                    <a class="nav-link" href="#">Cerrar Sesión</a>
                </div>
            </div>
            <div class="col-md-9">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
