{% extends 'layouts/base.html' %}

{% load static %}


{% block content %}

<div class = "home">
    <div class = "home__text">
        <h1>
            Campo Limpio
        </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, eum sequi. Voluptatem voluptatum aspernatur perferendis veniam molestiae debitis, libero, suscipit dicta natus, quasi magnam nobis sequi in eligendi quibusdam praesentium? Maxime voluptatem cupiditate aspernatur voluptas quis voluptates quisquam odit natus.
        </p>
    </div>
    <div class = "home__img">
        <img src="{% static 'img/Horticultor.png' %}">
    </div>
</div>

{% endblock %}