/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    background-color: #fff;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: all 0.3s ease;
}

a:hover {
    text-decoration: underline;
    color: black;
}

button {
    max-width: 100%;
}

button, input {  
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-color: #ccc;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #e0e0e0;
    position: relative; /* Añadir posición relativa para el contenedor */
}

.logo-container {
    display: flex;
    align-items: center;
}

.logoEmpresa {
    margin-right: 10px;
    max-width: 100px;
}

.categorias {
    width: 20%;
    padding-right: 20px;
    border-right: 1px solid #e0e0e0;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

.navbar ul li {
    margin-right: 20px;
    position: relative; /* Añadir posición relativa para los elementos li */
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: all 0.3s ease;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: calc(100% + 10px); /* Colocar el menú debajo del botón con un espacio de 10px */
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content span, .dropdown-content a, .dropdown-content form {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover, .dropdown-content form:hover {
    background-color: #f1f1f1;
}

/* Estilos para el botón de cerrar sesión */
.logout-button {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: black;
    font-size: 16px;
    text-decoration: none; /* Hacer que el texto tenga subrayado */
    transition: all 0.3s ease;
    appearance: none; /* Eliminar estilos de botón de navegador */
    -webkit-appearance: none; /* Para navegadores basados en WebKit */
    -moz-appearance: none; /* Para navegadores basados en Mozilla */
}

.logout-button:focus {
    outline: none; /* Eliminar el borde de enfoque */
}

.logout-button:hover {
    text-decoration: underline; /* Quitar subrayado al pasar el cursor */
    color: #333; /* Cambiar color al pasar el cursor */
}

.content-container {
    max-width: 100%;
    margin: auto;
    padding: 20px;
}

.home {
    display: flex;
    align-items: center;
    padding: 40px 0;
}

.home__text {
    flex: 1;
    padding: 0 40px;
}

.home__text h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.home__text p {
    font-size: 16px;
    line-height: 1.6;
}

.home__img {
    flex: 1;
}

.home__img img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


.register-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 100px;
    max-width: 1200px;
    width: 100%;
    text-align: center;
    padding: 100px;
    margin: 0 auto;
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
}

.register-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-appearance: none; /* For WebKit-based browsers */
    -moz-appearance: none; /* For Mozilla-based browsers */
    appearance: none; /* Standard property */
}

.register-form button {
    padding: 10px;
    border: none;
    background-color: #4caf50;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    -webkit-appearance: none; /* For WebKit-based browsers */
    -moz-appearance: none; /* For Mozilla-based browsers */
    appearance: none; /* Standard property */
}

.register-form button:hover {
    background-color: #45a049;
}

.register-image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    height: auto;
}

.register-image img {
    max-width: 300px;
    height: auto;
    display: block;
}


.productos {
    display: flex;
    align-items: flex-start;
    padding: 20px 0;
}

.productos__lista {
    width: 80%;
    padding-left: 20px;
}

.productos__lista form {
    display: flex;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    overflow: hidden;
}

.productos__lista input[type="text"] {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: none;
}

.productos__lista button {
    padding: 12px 24px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}

.productos__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.producto {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    transition: all 0.3s ease;
}

.producto img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 12px;
}

.producto h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 12px;
}

.producto h3 {
    font-size: 22px;
    text-align: center;
    color: #333;
    margin-bottom: 12px;
}

.producto h2 a {
    font-size: 18px;
    text-decoration: none;
    color: #333;
}

.producto h2 a:hover {
    text-decoration: underline;
}

.producto p {
    font-size: 14px;
    color: #666;
    margin-bottom: 12px;
}

.main-title {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.new-order-button {
    display: inline-block;
    padding: 12px 24px;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    transition: all 0.3s ease;
}

.new-order-button:hover {
    background-color: #e0e0e0;
}

.tables-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.table-container {
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table-title {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

table {
    width: 100%;
    font-size: 14px;
    border-collapse: collapse;
}

thead th {
    text-align: left;
    padding: 12px;
    color: #888;
    background-color: #f6f6f6;
    border-bottom: 2px solid #f0f0f0
}

tbody td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    align-content: center;
}

table .link {
    text-decoration: none;
    color: #518cb7;
    font-size: 14px;
    transition: all 0.3s ease;
}

table .link:hover {
    text-decoration: underline;
    color: #38719a;
}


.table img.img-thumbnail {
    margin-right: 10px;
}

.form-check-label {
    margin-left: 10px;
}
.text-success {
    color: #28a745 !important;
}

.container-fluid {
    padding-left: 15px; /* Ajusta según sea necesario */
    padding-right: 15px; /* Ajusta según sea necesario */
}

.card-custom {
    min-height: 450px; /* Ajusta según sea necesario */
    max-width: 400px;
    padding: 20px;
}

.card-custom .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-custom .card-title {
    font-size: 1.5rem;
}

.card-custom p, .card-custom h5 {
    margin: 10px 0;
}

.card-custom button {
    max-width: 100%;
}

/* Estilo para input deshabilitado */
.form-control[readonly], .form-control[readonly]:hover,
.form-control[readonly]:focus {
    background-color: #f6f6f6; /* Color de fondo */
    border-color: #e4e4e4; 
    color: #495057; /* Color del texto */
    box-shadow: none; /* Eliminar sombra */
    outline: none; /* Eliminar contorno de enfoque */
}

/* Personalización de botones + y - */
.btn-outline-secondary {
    border-color: #efefef !important; /* Borde gris */
    color: #000 !important; /* Texto negro */
    background-color: #fff !important; /* Fondo blanco */
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus, .btn-outline-secondary:active {
    background-color: #eee !important; /* Fondo blanco */
}

.btn-danger {
    border-color: #efefef !important; /* Borde gris */
    color: #000 !important; /* Texto negro */
    background-color: #f7f7f7 !important; /* Fondo blanco */
    box-shadow: none !important; /* Eliminar sombra */
    outline: none !important; /* Eliminar contorno de enfoque */
}

.btn-danger:hover, 
.btn-danger:focus, .btn-danger:active {
    background-color: #eee !important;
}

.product-detail {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.product-image {
    width: 400px;
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .product-image {
        width: 100%;
        max-width: 100%; /* Asegura que no exceda el ancho del contenedor */
    }
}

.product-detail h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.product-detail .text-muted {
    font-size: 1rem;
    color: #6c757d;
    margin-bottom: 10px;
}

.product-detail .h4 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
}

.product-detail p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

.quantity-container {
    margin-bottom: 20px;
}

.quantity-container .form-label {
    font-size: 1rem;
    margin-right: 10px;
}

.quantity-container .d-flex {
    display: flex;
    align-items: center;
}

.quantity-container .btn-outline-secondary {
    border-color: #efefef;
    color: #000;
    background-color: #fff;
}

.quantity-container .btn-outline-secondary:focus,
.quantity-container .btn-outline-secondary:hover {
    background-color: #f7f7f7;
}

.quantity-container .form-control {
    max-width: 60px;
    text-align: center;
    border: 1px solid #efefef;
    background-color: #f7f7f7;
}

.quantity-container .form-control:focus {
    border-color: #ccc;
    box-shadow: none;
}

.btn-success {
    width: 100%;
    margin-top: 20px;
    background-color: #4caf50;
}

.profile-form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
}

.text-center {
    text-align: center;
}

.profile-data {
    max-width: 800px;
    padding-left: 20px;
}


.profile-info {
    display: flex;
    align-items: flex-start;
    padding: 20px 0;
}

.empty-cart {
    opacity: 0.5;
}